body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
}

nav {
  display: flex;
  background-color: rgb(0, 197, 0);
  width: 100vw;
  position: fixed;
  top: 0px;
}

a {
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
	padding: 3px;
  background-color: white;
  color: rgb(32, 32, 32);
  margin: 20px;
}

a:hover {
  background-color: rgb(230, 230, 230);
}

.title{
  margin: 40px;
  font-size: 5rem;
  color: rgb(0, 197, 0);
  font-weight: bold;
}

input,
button{
  width: 40vw;
  height: 4vh;
}

button {
  border: none;
  background-color: rgb(0, 197, 0);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login:hover,
.signup:hover {
  background-color: rgb(0, 170, 0);
}